@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet');

body * {
    font-family: 'Syne', sans-serif;
}


/* Stili per il menu di navigazione */
.main-navigation {
    text-align: right; /* Allinea il menu a destra */
}

.custom-primary-menu {
    list-style-type: none; /* Rimuove i punti dell'elenco */
    padding: 0; /* Rimuove il padding */
    margin: 0; /* Rimuove il margine */
}

.custom-primary-menu li {
    display: inline-block; /* Menu orizzontale */
    margin-left: 20px; /* Margine tra le voci */
}

/* Stili per i link del menu */
.custom-primary-menu li a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #333; /* Colore del testo */
    padding: 10px 15px; /* Padding per le voci */
    transition: background-color 0.3s; /* Transizione per il colore di sfondo */
}

/* Stili specifici per il link "Commander" */
.custom-primary-menu li a[href*="commander"] {
    text-align: center;
    background-color: #DC9F96; /* Colore di sfondo */
    color: white; /* Colore del testo */
    width: 200px;

}

/* Effetto hover per il link "Commander" */
.custom-primary-menu li a[href*="commander"]:hover {
    background-color: #C02E44; /* Colore di sfondo al passaggio del mouse */
    color: white;
}

/* Effetto hover per gli altri link */
.custom-primary-menu li a:hover {
    background-color: #eee; /* Colore di sfondo al passaggio del mouse per gli altri link */
}

.site-footer {
    display: flex; /* Attiva Flexbox */
    justify-content: center; /* Centra orizzontalmente */ 
    align-items: center; /* Centra verticalmente */
    height: 50px !important; /* Altezza del footer */
    background-color: white !important;
    padding-bottom: 0px !important;
    
}

.site-footer > .col-full {
    margin-left: 0;
    margin-right: 0;
}

.site-footer .col-full .site-info {
    margin: 0; /* Elimina eventuali margini indesiderati */
    color: #000;
    
}



.site-header {
    display: flex; /* Usa Flexbox per disporre gli elementi sulla stessa riga */
    justify-content: space-between; /* Spazia gli elementi, mettendo il logo a sinistra e il menu a destra */
    align-items: center; /* Allinea verticalmente logo e menu */
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}

.site-branding {
    text-align: left;
    margin-bottom: 0 !important;
}

.col-full {
    max-width: 100% !important;
    padding-right: 0px !important;
    padding-left: 5px !important;
    margin-left: 5px !important;
}

.site-content .col-full {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    
}

.site-main {
    margin: 0;
}

.site-main > .hentry {
    margin: 0 0 0;
  }

main .elementor-element {
    padding-left: 0 !important;
    padding-right: 0 !important;

}

body:not(.rtl) .elementor-9 .elementor-element.elementor-element-d6579f0{
    top: 20%;
}

body:not(.rtl) .elementor-9 .elementor-element.elementor-element-138f50b{
    top: 20%;
}

body:not(.rtl) .elementor-72 .elementor-element.elementor-element-de808ae {
    right: 70% !important;
    bottom: 10%;
  }

main .elementor-element .elementor-element-4154153 {
    border-radius: 20px;
}

.col-full > .content-area {
    margin-bottom: 0;
}

.content-area > .site-main {
    margin-bottom: 0;
}

.e-con-inner .elementor-widget-container .wp-image-44 {
    width: 100% !important; /* Imposta la larghezza dell'immagine al 100% del contenitore */
    height: auto; /* Mantiene le proporzioni originali dell'immagine */
    display: block; /* Evita spazi bianchi sotto l'immagine */
    margin: 0; /* Rimuovi margini esterni */
    padding: 0; /* Rimuovi padding */
}

.e-con > .e-con-inner {
    max-width: none !important; /* Disabilita il limite di larghezza */
    width: 100% !important; /* Imposta la larghezza al 100% della finestra del browser */
    margin: 0 !important; /* Elimina eventuali margini che potrebbero limitare l'immagine */
    padding: 0 !important; /* Rimuove padding */
}

.edit-link {
    display: none;
}

.elementor-8 .elementor-element.elementor-element-eae875b .elementor-heading-title {
    color: #3B8E46;
    font-family: "Syne", Sans-serif;
    font-size: 39px;
    font-weight: 800;
    line-height: 45px;
    padding-top: 80px;
}


.elementor-8 .elementor-element.elementor-element-c8cf58d > .elementor-widget-container {
    background-image: url("http://localhost/Planity/wp-content/uploads/2024/10/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1.png");
    width: 393px;
    height: 262px;
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
}

.elementor-8 .elementor-element.elementor-element-6fbeea6 > .elementor-widget-container {
    background-image: url("http://localhost/Planity/wp-content/uploads/2024/10/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1.png");
    width: 393px;
    height: 262px;
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
}

.elementor-8 .elementor-element.elementor-element-1d0a3f2 > .elementor-widget-container {
    background-image: url("http://localhost/Planity/wp-content/uploads/2024/10/estudio-bloom-tOitjphtIXU-unsplash-1.png");
    width: 393px;
    height: 262px;
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
  }


.elementor-8 .elementor-element.elementor-element-910bcf7 > .elementor-widget-container{
    background-image: url("http://localhost/Planity/wp-content/uploads/2024/10/estudio-bloom-tOitjphtIXU-unsplash-1.png");
    width: 393px;
    height: 262px;
    display: flex; /* Abilita Flexbox */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
}


.e-con-inner .elementor-widget-container .wp-image-44 {
    background-color: #fff !important;
  }


/* NOUS RENCONTRER */

.elementor-13 .elementor-element.elementor-element-1a02b06 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px !important;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-13 .elementor-element.elementor-element-363373f > .e-con.e-flex > .e-con-inner {
    border-bottom-left-radius: 15px;
}

.wpforms-container .wpforms-field{
    width: 600px;
}

.wpforms-container .wpforms-form .wpforms-field-label{
    color: black !important;
}

div.wpforms-container-full .wpforms-form textarea{
    width: 360px;
    height: 200px !important;
}

div.wpforms-container-full .wpforms-form .wpforms-title {
    text-align: center;
}



/* Form */ 
div.wpforms-container-full .wpforms-form .wpforms-head-container {
    margin: 0;
    padding: 0 0 35px 0;
    text-align: center;
}

div.wpforms-container-full .wpforms-form .wpforms-title {
    font-weight: 700;
    line-height: 29px;
    font-size: 30px;
    color: var(--wpforms-label-color);
}



.wpforms-submit-container {
    text-align: center;
}

.e-con-inner .elementor-widget-container .wp-image-44 {
    background-color: #ECE2DA;
}

.elementor-13 .elementor-element.elementor-element-389c753 {
    padding-top: 0px;
    padding-bottom: 0px;
}


/* COMMANDER */

.wpforms-container .wpforms-form .wpforms-field-label{
    color: white;
}
.wpforms-container .wpforms-container-full .wpforms-render-modern{
    margin-top: 0px !important;
}


.wpforms-container .wpforms-field.wpforms-one-half.wpforms-first {
    border-right: solid #fff !important;
}


div.wpforms-container-full .wpforms-form .wpforms-submit-container{
    margin-top: 20px !important;
    padding-top: 30px;
}

div.wpforms-container-full button[type="submit"]:not(:hover):not(:active){
    width: 198px;
    height: 55px;
}


/* Media */
@media (min-width: 768px) and (max-width: 1024px){
    .custom-primary-menu li:last-child {
        margin-left: 0px !important; /* Sposta l'ultimo elemento verso destra */
        padding-right: 0px; /* Rimuovi eventuali padding a destra */
        border: none; /* Assicurati che non ci siano bordi aggiuntivi */
    }




/* page commander */

div.wpforms-container-full button[type="submit"]:not(:hover):not(:active){
    width: 120px;
    height: 55px;
    font-size: 13px;
}

.wpforms-container .wpforms-form .wpforms-field-label{
    font-size: 15px;
}

}





@media only screen and (max-width: 768px){
    /* header */
    .site-branding{
        width: 100px !important;
    }
    .site-header{
        padding-bottom: 0px !important;
    }

    .nav-menu {
        flex-direction: column; /* Trasforma il menu in verticale */
        list-style: none;
        background-color: #fff; /* Colore di sfondo del menu mobile */
        position: absolute;
        top: 50px; /* Posiziona il menu sotto il pulsante */
        right: 0;
        width: 100%;
        z-index: 1000; /* Portalo sopra gli altri elementi */
    }

    .custom-primary-menu li a[href*="commander"]{
        background-color: white;
        color: #000;
    }

    .main-navigation.toggled ul[aria-expanded="true"]{
        width: 150px;
    }

    .custom-primary-menu li {
        margin-left: 0px;
    }

    .main-navigation ul li a {
        align-self: center;
    }



    /* page commander */
    .elementor-125 .elementor-element.elementor-element-29c65b6.elementor-element{
        display: none; /* titre Livraison */
    }

    .wpforms-field {
        display: block !important; /* Cambia la visualizzazione dei campi da inline-block a block */
        width: 100%; /* Ogni campo prenderà la larghezza completa */
        margin-right: 0; /* Rimuove il margine a destra */
        margin-bottom: 15px; /* Aumenta il margine inferiore tra i campi */
      }
    .wpforms-one-half {
        width: 100% !important;  /* Quando lo schermo è piccolo, i campi diventano a piena larghezza */
        margin-right: 0; /* Rimuove il margine a destra */
      }

      .wpforms-container .wpforms-field.wpforms-one-half.wpforms-first {
        border-right: none !important;
    }

    .wpforms-container .wpforms-field.wpforms-one-half{
        margin-left: 0 !important;
    }
}


